@CHARSET "ISO-8859-1";

#content-area {
	min-height: 300px;
}

.pres-row {
	margin-bottom: 5px;
}

.icare-label {
	padding-top: 5px !important;
}

.patient-queue-container {
	background-color: #F8FAFB;
	border-color: #DDE2E2;
}

.onhold-label {
	font-size: 10px;
	color: #C0392B;
	text-align: right;
}

.onhold-label:HOVER {
	cursor: pointer;
	font-weight: bold;
}

.label-patient-name {
	font-size: 20px;
}

.login-header-spacer {
	height: 120px;
}

.site-title {
	color: #EE5921;
	font-size: 40px;
}

.prescription-container{
	border: solid 1px #777777;
	width: 70%;
	margin-bottom: 100px;
	padding: 30px;
}

.line-separator{
	margin-top: 10px;
	border-bottom:solid 1px #777777;
	width: 100%;
}

.table-bordercolor{
	border-color: #DDDDDD;
}